# ---------------------------------------
# Общие
# ---------------------------------------
.env
.env.local
frontend/.env

node_modules/
dist/
*.log
*.pid
*.DS_Store

# ---------------------------------------
# Разрешаем все необходимые файлы в frontend
# ---------------------------------------
!frontend/
!frontend/**/*
!frontend/.env

# ---------------------------------------
# Frontend (Vite / Node)
# ---------------------------------------
frontend/node_modules/
frontend/dist/

# ---------------------------------------
# Backend (.NET)
# ---------------------------------------
backend/bin/
backend/obj/
**/*.user
**/*.suo

# ---------------------------------------
# IDE
# ---------------------------------------
.idea/
.vscode/
